/* For Large Devices */
@media (min-width: 769px) {
    #main-content {
        padding: 0rem 1rem;
        margin-top: 1rem;
    }
}

/* For Small Devices */
@media (max-width: 768px) {
    
    #main-content {
        padding: 0rem 0.5rem;
        margin-top: 1rem;
    }
}