* {
  
    margin: 0;
    padding: 0;
}


body {
    font-family: var(--font-stack-text);
    font-weight: 400;
    line-height: 1.4;
    font-size: 1.6rem;
    color: #202133;
    margin: 0;
    background-color: #073b4c; 
}

.hero-section .hero-details .heading{
    margin-top: 8px;
    max-width: 70%;
    font-size: 55px; 
    text-align: left;
    margin: 20px; 
    color: #fbfb1b;  
}

.hero-section .section-content{
    display: flex;
    align-items: center;
    min-height: 100vh;
    color: var(--black-color);
    text-align: left;
    color: #f4f6f4;
    margin: 20px;
    justify-content: space-between;
}

.hero-section .hero-details .title{
    font-size: var(--font-size-xxl);
    color: var(--secondary-color);
    text-align: left;
    color: white;
    margin: 20px;
    font-family: "Miniver", sans-serif;
}


.hero-section .hero-details .amount{
    margin-top: 8px;
    max-width: 70%;
    text-align: left;
    color: white;
    margin: 20px;
    font-size: var(--font-size-xl);
    margin: 20px; 
    font-weight: var(--font-weight-semibold);
}

.paragraph{
    font-family: Arial, sans-serif; 
            font-size: 22px; 
            color:white; 
            line-height: 1.5;
            text-align: justify;
            margin: 20px;  }

.hero-section .hero-details .hero-image-wrapper{
    
    margin-right:2px;
    margin-left:80px;
    width: 30%;
    height: 50%;
    max-width: 50px;
    max-height: 80px;
    transform: scale(0.9); 
    position:absolute;
    top: 50%;
    right: 45%;
    display: block;
    justify-content: flex-end;
    align-items: flex-start;
 
}



